* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
    display: block;
}

.small{
    font-size: small;
}

.medium{
    font-size: 14px;
}

.smaller{
    font-size: 11px;
}
